/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
.contenitore {
  width: 1170px;
  margin: auto;
  margin-top: 50px;
}

/* construction style header left */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .leftheader {
  flex-basis: 25%;
}
header .leftheader ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}
header .leftheader img {
  width: 80px;
}
header .leftheader li {
  font-size: 12px;
  text-transform: uppercase;
  color: #a1a6ad;
}

/* construction style header right */
header .rightheader {
  flex-basis: 45%;
}
header .rightheader .rightmenucontent {
  display: flex;
  list-style: none;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}
header .rightheader li {
  font-size: 12px;
  color: #a1a6ad;
  position: relative;
}
header .rightheader li i {
  font-size: 9px;
  position: relative;
  top: 1px;
}
header .rightheader li button {
  color: white;
  background-color: #d8318b;
  padding: 12px 20px;
  border: 0px;
  border-radius: 60px;
}

/* dropmenu1 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -230%;
  width: 250px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px #999999;
  display: none;
}
.dropdown-menu ul {
  list-style: none;
  padding-left: 0px;
}
.dropdown-menu ul li {
  padding:13px;
}
.dropdown-menu ul li span {
  color: #d8318b;
  font-size: 9px;
  position: relative;
  bottom: 7px;
}
